<% can_user_made_actions = user_signed_in? && (current_user.id == @article.user_id || current_user.id == @article.proofreader_id || current_user.id == @journal.user_id || (@publication.uroles.where('user_id = '+current_user.id.to_s+' AND chief_id = '+@journal.user_id.to_s+' AND role_id = 0').count != 0) || current_user.admin?) %>

<div>

<ul id="sortable" class="list-group">
  <% @article.paternities.order('position').each do |paternity| %>
    <li class="list-group-item" id="paternity_<%= paternity.position %>">
      <% if can_user_made_actions %>
        |||
      <% end %>  
      <%= link_to paternity.author.name_full, author_path(paternity.author, :journal_id => @journal.id, :publication_id => @publication.id, :article_id => @article.id), 'data-no-turbolinks' => true %>
      <% if user_signed_in? %>
        <% if can_user_made_actions %>
          <%= link_to t('helpers.links.remove', :default => "Remove"),
                        journal_publication_article_paternity_path(@journal, @publication, @article, paternity), 
                        method: :delete, 
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))}, 
                        :class => "btn btn-info btn-xs" %><br />
        <% end %>                
      <% end %>                
    </li>  
 <% end %>
</ul>

</div>

<% if user_signed_in? %>
  <% if can_user_made_actions %>
    <%= link_to t("articles.new.author", :default => "New author"), new_journal_publication_article_paternity_path(@journal, @publication, @article), :class => "btn btn-primary" %>
  <% end %>  
<% end %>  

<% if user_signed_in? %>
  <% if can_user_made_actions %>
    <script type="text/javascript">
      $(document).ready(function () { 
        $("#sortable").sortable({
          axis: 'y',
          dropOnEmpty: false,
          cursor: 'move',
          items: 'li',
          opacity: 0.7,
          scroll: true,
          update: function () {
            $.ajax({
              type: 'post',
              url: '<%= sort_journal_publication_article_paternities_path(@journal, @publication, @article) %>',
              data: $("#sortable").sortable('serialize'),
              dataType: 'script',
              complete: function(request){
                $("#sortable").effect('highlight');
              }
            });
          }
        });
      });
    </script>
  <% end %>
<% end %>