<% provide(:title, t('devise.sessions.user.signin.title')) %> 
<%= devise_error_messages! %>
<h1><%= t('devise.sessions.user.signin.title') %></h1>

<div class="container">
  <div class="row">
  	<div class="col-lg-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class =>"form-horizontal" } ) do |f| %>

        <fieldset>
          <div id="legend">
            <legend class=""><%= t('devise.sessions.user.signin.title_h2') %></legend>
          </div>
 
          <div class="form-group">
            <%= f.label :email, t('devise.sessions.user.signin.email', :default => 'Email address'), :class => 'control-label col-lg-2' %>
            <div class="col-lg-8">
              <%= f.email_field :email, :class => 'form-control', :placeholder => t('devise.sessions.user.signin.email', :default => 'Email address') %>
            </div>
            <%=f.error_span(:email) %>
          </div> 

          <div class="form-group">
            <%= f.label :password, t('devise.sessions.user.signin.password', :default => 'Password'), :class => 'control-label col-lg-2' %>
            <div class="col-lg-8">
              <%= f.password_field :password, :autocomplete => 'off', :class => 'form-control', :placeholder => t('devise.sessions.user.signin.password', :default => 'Password') %>
            </div>
            <%=f.error_span(:password) %>
          </div> 

          <% if devise_mapping.rememberable? %>
            <div class="col-lg-offset-2"> 
                <%= f.check_box :remember_me, :style => 'margin-left:6px;' %>
                <%= f.label :remember_me, t('devise.sessions.user.remember_me', :default => 'Remember me'), :style => 'margin-left:4px; font-weight: normal; margin-top:-2px;' %>
            </div>
          <% end %>

          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10"> 
              <%= f.submit t('devise.sessions.user.login', :default => "Login"), :class=>"btn btn-primary" %>
              <%= render "devise/shared/links" %>
              <p class="help-block">&nbsp;</p>
            </div>
          </div>
          </fieldset>
      <% end %>
    
    </div> 
  </div>
</div>