<% provide(:title, t('about.service.title')) %> 

<h1><%= t('about.service.title_h1') %></h1>
<p>&nbsp;</p>
<p class="lead text-justify"><%= t('about.service.text_1') %></p>
<p class="text-justify"><%= t('about.service.text_2') %></p>
<p class="text-justify"><strong><%= t('about.service.text_3') %></strong> </p>
<ul>
<li><%= t('about.service.text_4') %></li>
<li><%= t('about.service.text_5') %></li>
<li><%= t('about.service.text_6') %></li>
</ul>

<p class="text-justify"><%= t('about.service.text_7') %></p>
<p class="text-justify"><%= t('about.service.text_8') %></p>
<p class="text-justify"><%= t('about.service.text_9') %></p>
<p class="lead text-justify"><%= t('about.service.text_10') %><br>
<%= t('about.service.text_11') %> <a href="<%= global_param('app_email') %>"><%= global_param('app_email') %></a></p>
<blockquote>
	<p><small><%= t('about.service.text_12') %> <%= global_param('app_version') %> (<%= global_param('app_date') %>)</small></p>
</blockquote>