<h1><%= t('devise.instructions.reset_password.title', :default => t('en.devise.instructions.reset_password.title')) %></h1>

<h3><%= t('devise.instructions.reset_password.welcome', :email => @resource.email, :default => t('en.devise.instructions.reset_password.welcome', :email => @resource.email)) %></h3>

<p><%= t('devise.instructions.reset_password.text', :default => t('en.devise.instructions.reset_password.text')) %></p>

<p><strong><%= link_to t('devise.instructions.reset_password.link', :default => t('en.devise.instructions.reset_password.link')), edit_password_url(@resource, reset_password_token: @token) %></strong></p>

<p><%= t('devise.instructions.reset_password.text_2', :default => t('en.devise.instructions.reset_password.text_2')) %></p>

<p><%= t('devise.instructions.footer', :default => t('en.devise.instructions.footer')) %></p>